.chpw-content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.chpw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #1f1f1f;
    width: 100vh;
    color: #fff;
  }
  
  .chpw-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .chpw-title-line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 2.5rem;
  }
  
  .chpw-form-container {
    width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
  }
  
  .chpw-form-group {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 15px;
  }
  
  .chpw-form-label {
      margin-bottom: 5px;
      text-align: left;
      font-size: 0.9rem;
      color: #aaa;
  }
  
  .chpw-form-input {
    background-color: #505050;
    border: none;
    border-radius: 8px;
    padding: 14px 15px;
      color: #fff;
      box-sizing: border-box;
      width: 100%;
      height: 45px;
  }
  
  .chpw-button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    width:60%;
    gap: 10px;
  }
  
  .chpw-button-group button {
    border: none;
    padding: 20px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 60%;
  }
  
  .chpw-save-button {
    background-color: #ff0011;
    color: white;
  }
  
  .chpw-cancel-button {
    background-color: #ddd;
    color: rgb(0, 0, 0);
  }


  .chpw-container a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  .chpw-container a:hover {
    color: #535bf2;
  }
  
  .chpw-container h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  
.chpw-container button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
 
}


.chpw-container button:focus,
.chpw-container button:focus-visible {
    outline: none;
}

.chpw-button-group button {
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chpw-save-button {
    background-color: #ff0011;
    color: white;
}

.chpw-cancel-button {
    background-color: #ddd;
    color: black;
}

@media (prefers-color-scheme: light) {
    .chpw-container {
        color: #ff0000;
        background-color: #ffffff;
    }
}