/* General Styling */
body {
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.titleandfilters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.title {
  font-size: 24px;
  color: #ffffff;
}

.filter-buttons {
  display: flex;
  gap: 20px;
}

.filter-buttons button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: #c30d24;
  border: none;
  color: white;
  border-radius: 10px;
}

.filter-buttons button:hover {
  background-color: #a30a1b;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.movie-card-m {
  width: 100%;
  color: #ffffff;
  background-color: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.movie-poster-m {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie-info-m {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.movie-info-m h2 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.movie-info-m p {
  font-size: 14px;
  margin-bottom: 10px;
}

.moviel-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.moviel-btns button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #c30d24;
  color: white;
  cursor: pointer;
}

.moviel-btns button:hover {
  background-color: #a30a1b;
}

@media (min-width: 769px) {
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .movie-card-m {
    flex-direction: row;
  }

  .movie-poster-m {
    width: 30%;
  }

  .movie-info-m {
    width: 70%;
  }

  .moviel-btns {
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .movies-list {
    grid-template-columns: 1fr;
  }

  .movie-card-m {
    flex-direction: column;
  }

  .movie-poster-m {
    width: 100%;
  }

  .movie-info-m {
    width: 100%;
  }

  .moviel-btns {
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
  }

  .titleandfilters {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
