  .app {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  .titleandfilters{
    display: flex;
    justify-content: space-around;
    color: #ffffff;
  }
  .filter-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    gap: 40px;
  }
  
  button {
    padding: 12px 25px;
    font-size: 14px;
    cursor: pointer;
    background-color: #c30d24;
    border: none;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: center;
  }
  
  button:hover {
    background-color: #a30a1b;
  }
  
  .movies-list {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr); /* Create two columns */
    gap: 50px;
    justify-items: center; 
    width: 85%;
  }
  
  .movie-card-m {
    width: 100%;
    max-width: 900px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-height: 400px;
  }
  
  .movie-poster-m {
    width: 35%; 
    height: auto;
    object-fit: cover; 
  }
  
  .movie-info-m {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .movie-info-m h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold; 
  } 
  
  .movie-info-m p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .moviel-btns {
    display: flex;
    gap: 70px;
}